body {
    background: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1600');

}


.text-backround{
    background-color:white
}
#main-heading{
   background-color: cornsilk;
}

.photo {
    border: 15px solid rgb(59, 173, 244);
    size: 150px;
    display: inline-flex;
    height: 200px;
}


h1 {
    font-family: 'dancing script', cursive;
}

.fb {
    background-color: blue;
    color: white;
}

.ig {
    background-color: red;
    color: white;
}